<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文献检索系统</title>
    <link rel="stylesheet" href="/static/css/frame/bootstrap.css">
    <link rel="stylesheet" href="/static/css/list.css">
</head>
<body>

<ul>
    {% for document in documents %}
    <li class="doc_list_card">
        <h5 class="doc_title" onclick="">{{ document.title }}</h5>
        <ul class="author_list">
            {% for author in document.get_authors %}
            <li class="author_item">{{ author }},</li>
            {% endfor %}
        </ul>
        <div class="doc_profile">{{ document.publication }}</div>
        <div class="doc_subtract">{{ document.abstract }}</div>
    </li>
    {% endfor %}
</ul>

<script type="text/javascript" src="/static/js/frame/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/frame/bootstrap.js"></script>
</body>
</html>