<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录-文献检索系统</title>
    <link href="/static/css/frame/bootstrap.css" rel="stylesheet" />
</head>
<body>
<form id="form1" class="well" style="width: 30em; margin: auto; margin-top: 150px;">
    <h3>用户登录</h3>
    <div class=" input-group input-group-md">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
              </span>
        <input id="userName" type="text" class="form-control" placeholder="用户名" aria-describedby="sizing-addon1"/>
    </div>
    <br/>
    <div class="input-group input-group-md">
              <span class="input-group-addon" id="sizing-addon1">
                  <i class="glyphicon glyphicon-lock"></i>
              </span>
        <input type="password" id="password" class="form-control" placeholder="密码" aria-describedby="sizing-addon1"/>
    </div>
    <button type="button" class="btn btn-success btn-block">登录</button>
    <a class="btn btn-sm btn-white btn-block" style="text-align: right;" href="{% url 'User:user_register' %}">
        <h6>还没有账户？前往注册</h6>
    </a>
    {% csrf_token %}
</form>
<script src="/static/js/frame/jquery.min.js"></script>
<script src="/static/js/frame/bootstrap.js"></script>
<script>
$("#form1").on("click", ".btn", function (e) {
    let radioValue = $('input:radio[name="kind"]:checked').val();
    let formData = $("#form1").serialize();
    $.ajax({
        url: "{% url 'User:user_login' %}",
        type: "post",
        data: {
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']")[0].getAttribute("value"),
            "userName": $("#userName").val(),
            "password": $("#password").val()
        },
        dataType: "json",
        success: function (result) {
            /**
             * 未实现
             */
        }
    });
})
</script>
</body>
</html>